/* Main */
body{
/*background-color: #F0E68C;	*/
}
/* Text */
h1,h2,h3,h4,h5,h6{
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: 5px; margin-bottom: 0px;
	text-align: center;
    font-weight: normal;
    color: #222;
}   
h1{
	font-size:24px;
	background-color: #FBDF93;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
h2 {
	border-bottom: 1px solid #aaa;
	margin: 15px 0;
	padding: 5px 0;
	position: relative;
}

h2:before,
h2:after{
	content: '';
	border-right: 20px solid #8F8F8F;
	border-top: 15px solid #aaa;
	bottom: -15px;
	position: absolute;
	left: 25px;
}

h2:after{
	border-top-color: #8F8F8F;
	border-right-color: transparent;
	bottom: -13px;
	left: 26px;
}  
   
/* Navigation */
header {
	height:100px;
	width: 100%;
	border-bottom: 10px #000 solid;
	text-align: center;
	background: rgb(208,228,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
	
}
header h1 {
	display:inline-block;
	background:transparent;
	height:100%;
	font-size:65px;
	line-height:60px;
	text-decoration: none;  
	/*background:url(../img/logo.png) no-repeat;*/
	/*text-indent:-7777em;*/
	
	color: #fff;
	text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
	}
nav {
	display:inline-block;
}	
nav li {
        float:left;
        display:inline;
        margin: 5px 5px 0 5px;
        text-transform:capitalize;
}
nav li a {

        padding:5px 10px;
        color:#fff;
        font:18px/1.5 Tahoma, Geneva, sans-serif;
        text-decoration:none;
        text-shadow:1px 1px 1px #333;
        filter:dropshadow(color=#333, offx=1, offy=1);
}
nav .current a, nav li:hover > a {
        background:#8f8f8f; 
        /*webkit-border-radius: 0.8em;
        -moz-border-radius: 0.8em;*/
        border-radius:0.8em;
}
/* Article with rounded corners */
div#wrapper{
	min-height:100%;
	position:relative;
}
section{
	margin-bottom:20px;
}
.rounded_box {
background-color:#8F8F8F;
margin-bottom: 70px;
padding: 10px;	
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
/* Contact information */
.person_card{
	/*width:200px;
	margin: 5px;*/
	float:left;
	
}
.person_card img{
	width:100px;
	height:100px;
	margin-right:5px;
	clear:both;
}
.person_card p{
	margin: 2px 0;
}
.person_card p span{
	font-weight: bold;
}
.person_card p span:after{
	content : ":"
}
/* Blog post lists */
.post span:after{
	content : ":";
}
.post span{
	font-weight:bold;
	margin-right: 5px;
}
.post a {
	text-transform:uppercase;
	font-weight: bold;
	text-decoration : none;
	color: #0404B4;
	
}
/* Download button*/
.button {
display: inline-block;
padding: 28px 48px;
width: 90%; /* IE 7 input button fix */
overflow: visible; /* IE7 input button fix */
font: bold 28px sans-serif;
text-decoration: none;
outline: none;
cursor: pointer;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
-moz-transition: -moz-box-shadow 0.3s ease-in-out;
-o-transition:  background-color 0.3s ease-in-out;
transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button:active {
position: relative;
top: 1px;
}
.orange {
border: 1px solid #d19900;
color : #ffffff;
background: #f8b500 url(grad-orange.svg) 0 0 no-repeat;

text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
}

.orange:hover {
color : #ffffff;
background: #f7c331 url(grad-orange-hover.svg) 0 0 no-repeat;

background: -moz-linear-gradient(top, #fcf8ed 0%, #fcdb81 50%, #f7c331 51%, #faecc5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf8ed), color-stop(50%,#fcdb81), color-stop(51%,#f7c331), color-stop(100%,#faecc5));
-webkit-box-shadow: 0 0 12px #f7c331;
-moz-box-shadow: 0 0 12px #f7c331;
box-shadow: 0 0 12px #f7c331;
}
/*.left {
    float: left;
    width: 380px;
    margin-right:10px;
}
.right {
    float: left;
    width: 420px;
    margin-left:10px;
}*/

section div.thumbs{
	margin: 15px 0;
	
}
/* Footer */
footer {
	text-align:center;
	line-height:60px;
	width: 100%;
	background-color:#0404B4;
	position:absolute;
    bottom:0;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear:both;
}
footer p {
	display:inline;
	margin:0;
	font-family: "Tahoma","Geneva",sans-serif;
    color: #FFFFFF;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3pt;
}
/* Message boxes */
.alert-message {
    font-family: sans-serif;
    margin: 20px;
    font-weight: bold;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    padding: 1px;
    position: relative;
    font-size: 12px;
}

.alert-message .close {
    color: #745050;
    text-decoration: none;
    float: right;
    margin: 7px 7px 0 0;
    font-weight: bold;
    font-size: 16px;
}

.alert-message p {
    display: block;
    margin: 0;
    padding: 8px 20px 7px 10px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.error {
    background-color: #d29191;
    
    -webkit-box-shadow: 0px 0px 6px rgba(244,187,187,0.7);
    -moz-box-shadow: 0px 0px 6px rgba(244,187,187,0.7);
    box-shadow: 0px 0px 6px rgba(244,187,187,0.7);
}

.error p {
    background-color: #f4baba;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4baba), to(#db7f7f));
    background-image: -webkit-linear-gradient(top, #f4baba, #db7f7f);
    background-image: -moz-linear-gradient(top, #f4baba, #db7f7f);
    background-image: -ms-linear-gradient(top, #f4baba, #db7f7f);
    background-image: -o-linear-gradient(top, #f4baba, #db7f7f);
    background-image: linear-gradient(top, #f4baba, #db7f7f);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4baba', EndColorStr='#db7f7f');
    
    -webkit-box-shadow: inset 0px 1px 0px #f7d0d0;
    -moz-box-shadow: inset 0px 1px 0px #f7d0d0;
    box-shadow: inset 0px 1px 0px #f7d0d0;
    
    color: #745050;
    text-shadow: 1px 1px 0px #eaadad;
}

.success {
    background-color: #c6cdaa;
    
    -webkit-box-shadow: 0px 0px 6px rgba(223,230,198,0.7);
    -moz-box-shadow: 0px 0px 6px rgba(223,230,198,0.7);
    box-shadow: 0px 0px 6px rgba(223,230,198,0.7);
}

.success p {
    background-color: #e2e8c9;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e8c9), to(#c1c8a7));
    background-image: -webkit-linear-gradient(top, #e2e8c9, #c1c8a7);
    background-image: -moz-linear-gradient(top, #e2e8c9, #c1c8a7);
    background-image: -ms-linear-gradient(top, #e2e8c9, #c1c8a7);
    background-image: -o-linear-gradient(top, #e2e8c9, #c1c8a7);
    background-image: linear-gradient(top, #e2e8c9, #c1c8a7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#e2e8c9', EndColorStr='#c1c8a7');
    
    -webkit-box-shadow: inset 0px 1px 0px #ebf0da;
    -moz-box-shadow: inset 0px 1px 0px #ebf0da;
    box-shadow: inset 0px 1px 0px #ebf0da;
    
    color: #676b5b;
    text-shadow: 1px 1px 0px #d6dcc3;
}

.warning {
    background-color: #D0D291;
    
    -webkit-box-shadow: 0px 0px 6px rgba(223,230,198,0.7);
    -moz-box-shadow: 0px 0px 6px rgba(223,230,198,0.7);
    box-shadow: 0px 0px 6px rgba(223,230,198,0.7);
}

.warning p {
    background-color: #D0D291;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1b4), to(#dede85));
    background-image: -webkit-linear-gradient(top, #f1f1b4, #dede85);
    background-image: -moz-linear-gradient(top, #f1f1b4, #dede85);
    background-image: -ms-linear-gradient(top, #f1f1b4, #dede85);
    background-image: -o-linear-gradient(top, #f1f1b4, #dede85);
    background-image: linear-gradient(top, #f1f1b4, #dede85);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1b4', EndColorStr='#dede85');
    
    -webkit-box-shadow: inset 0px 1px 0px #ebf0da;
    -moz-box-shadow: inset 0px 1px 0px #ebf0da;
    box-shadow: inset 0px 1px 0px #ebf0da;
    
    color: #676b5b;
    text-shadow: 1px 1px 0px #d6dcc3;
}
/* Form styles */
form {
  width:300px;
  margin: 20px auto;
}

input, textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:100%;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;
  padding: 0 5px;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}

/* Chimaira */
.node{
	display: inline;
	background-color: #ccc;
	background-repeat: no-repeat;
	/*border: #000 2px solid;
	border-radius: 10px;*/
	float: left;
	margin: 5px 10px;
	text-align:center;
	height:81px;
	width:128px;
}

.hover{
	background-color: #eee;
	
}
#node_holder{
	background-color: #FCD3A5;
	 border-radius: 10px;
	 min-height: 81px;
	 margin-bottom: 5px;
}
#toolbar{
	margin-bottom: 5px;
	
}
/* Filetree */
div.orange_box {
	 background-color: #FBDF93;
	 padding: 10px;
	 border-radius: 10px;	
}
.orange_box h3 {
	margin:0;
	font-size: 1em;
	text-align:left;
	
}

/* chat login form*/

#fchat {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
    border: 1px solid #D2D2D2;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 3px 5px;
    width:auto;
}

#fchat #name {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 6px 6px 6px 8px;
    width: 202px;

}
#fchat input {
    font: 12px/100% Arial,Helvetica,sans-serif;
    min-height:0;
    height:auto;
    margin:0;
    display:inherit;
}
#chat_btn{
	width:100%;
}
#fchat #chat_submit {
    background: -moz-linear-gradient(center top , #9E9E9E, #454545) repeat scroll 0 0 transparent;
    border: 1px solid #494949;
    border-radius: 2em 2em 2em 2em;
    color: #FFFFFF;
    font-size: 11px;
    height: 27px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    width: 27px;
    padding:0;

}

#eventbtn{
	border-radius:30px;
	width:60px;
	height:60px;
	
	
}
#eventbtn span{
	font-size: 30px;
	font-weight: bold;
	padding:0;
}

input#custom_event{
	margin: 0 5px;
	padding: 0;
	width: 90%;
	font-size: 1.2em;
	min-height:inherit;
	display:inline;	
}
#custom input#custom_event{
	min-height:10px;
}
#new_custom_event{
	padding:9px;
}
#new_custom_event > .ui-button-text{
	padding:5px;
}
#event_buttonset{
	display:inline;
}
#status_info{
	float:right;
	height:20px;
	margin-top: 20px;
}
#project_status{
	display:inline-block;
	min-width:150px;
	border:#000 2px solid;
	border-radius: 5px;
	margin: 0 2px;
	padding: 0 2px;
}
#session_status{
	margin: 0 2px;
}
#custom_event_list {
	width: 200px;
}
#custom_event_list #custom{
	height:20px;
}

#custom_event_list #custom input#custom_event{
	min-height:20px;
}
#toolbar .ui-widget{
	font-size:1em;
}
