<!DOCTYPE html>       
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <meta name="description" content="">
    <title>Diwaamo</title>  
	<link rel="stylesheet" href="/static/metro/css/modern.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/metro/css/modern-responsive.css" />
	<link rel="stylesheet" href="/static/css/metrosite.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/jchat.css" type="text/css" />
	<link type="text/css" href="/static/css/dot-luv/jquery-ui-1.8.23.custom.css" rel="stylesheet" />

	<script src="/static/js/jquery.js" type="text/javascript"></script>
	<script src="/static/js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
	<script src="/static/js/jchat.js" type="text/javascript"></script>
	<script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});
		
		{% if activity.project %} 	
		    $('#chat_error').hide();
		    if($.cookie('dchat_name') != null){
			    $('#fchat').hide();	
			    init_chat({{chat_id}}, "chat");
			    $("#chat-messages-container").resizable({containment: "parent"});
		    }
	    {% else %}
	    	$('#fchat').hide();
	    {% endif %}
	    $("#fchat").submit(function() {  
		    var name =  $("input#name").val();
		    $.cookie('dchat_name',name);
		    init_chat({{chat_id}}, "chat");
		    $("#chat-messages-container").resizable({containment: "parent"});
		    $('#fchat').fadeOut(300,function(){$('#chat').fadeIn(300);});
	    	return false;
	  	});
	
	 
	
	 });
 

   

</script>	
</head>  
<body class="bg-color-purple">
	<div class="top_banner">
		<div class="top_logo"></div>
	</div>
   	<div class="page">
		<div class="page-region">
	    	<div class="page-region-content">
	        	<div class="grid">
	    			<div class="row" style="margin: 0 auto; text-align: center;">					
						<div id="chat_error" class="span6">
					 		<div class="notices">
						         <div class="bg-color-red">
						             <div class="notice-image"> <i class="icon-warning fg-color-darken"></i> </div>
						             <div class="notice-header">Chat is not available!</div>
						             <div class="notice-text fg-color-darken">Chat is only available, when a project is selected.</div>
						         </div>
							</div>
						</div>
						<form id="fchat">
							<input id="name" name="name" required type="text" onblur="if (this.value == '') {this.value = 'Enter name here!';}" onfocus="if (this.value == 'Enter name here!') {this.value = '';}" value="Enter name here!" style="margin-right:10px: margin-bottom:10px;height: 32px;" />
							<input type="submit" name="submit"  id="chat_submit" value="Open Chat" style="margin-top: 5px;" /> 
						</form>
						<div id="chat"></div>
					</div>
	    		</div>
	    	</div>
	    </div>
     </div>
 
</body>  
</html> 
