{% extends "metrobase.html" %}
{% block javascript %}


var jplayer;
var mbproject = 0;
var timeline;
var data;
var audio_files = Array();
var jplayer_active = 0;


function onselect(event) {
	var sel = timeline.getSelection();
    var selcount = sel.length;

  	for (var i = 0; i < selcount; i++) {
  	    var row = sel[i].row;
  	    console.log('Selected: ' + row);
    	if (row != undefined) {
      		var item = timeline.getItem(row);
      		$('div#snapshot').empty();
      		$('div#screenshots').empty();
      		jplayer.jPlayer('clearMedia');
		    $('.pause').hide();
		    $('.play').show();
      		$('#row' + row).addClass('selected-row');

      		if (item.end != undefined) {
      			timeline.setVisibleChartRange(item.start, item.end);
      			var mykeyup = $('#event_search').val('').trigger('keyup');
      			var srow = $('#row' + row).addClass('selected-row');
      			var myhtml = srow.children('td').eq(2).html();
      			mykeyup.val(myhtml).trigger('keyup');
      		} else {
      		    var mykeyup = $('#event_search').val('').trigger('keyup');
      		    var srow = $('#row' + row).addClass('selected-row');
      		    var myhtml = srow.children('td').eq(1).html();
      			mykeyup.val(myhtml).trigger('keyup');
      			var eid = $('.timeline-event-selected > div > div > a > b');
      			var eQuery = {'event_id': eid.attr('id')};

                var dataFunction = function(data) {
                    var audio = {};
                    var keyval = function(key, val) {
                        console.log(key + ': ' + val);
                        if (val.indexOf('Snapshots') >= 0) {
                            var snap = $('div#snapshot');
                            snap.append('<div><a class="fancybox" href="' +
                                path_to_localhost(val) + '" ' +
                                'data-fancybox-group="gallery" title="">' +
                                '<img src="' + path_to_localhost(val) + '"/>' +
                                '</a></div>');
                        } else if(val.indexOf('Screenshots') >= 0) {
                            var screenshot = $('div#screenshots');
                            screenshot.append('<div><a class="fancybox" ' +
                                'href="' + path_to_localhost(val) + '" ' +
                                'data-fancybox-group="gallery" title="">' +
                                '<img src="' + path_to_localhost(val) +
                                '"/></a></div>');
                        } else if(val.indexOf('Audio') >= 0) {
                            console.log('Audio ' + val);
                            var aIndex = val.lastIndexOf('.');
                            aIndex += 1;
                            var aVal = val.substring(aIndex);
                            audio[aVal] = val;
                        }
                    };
                    $.each(data, keyval);
                    //jplayer.jPlayer("setMedia",audio);
                };

      			$.getJSON('/event_files/', eQuery, dataFunction);
      		}
    	}
    // end for sel.length
	}
	if (selcount == 0) {
  		$('.selected-row').removeClass('selected-row');
  		$('#event_search').val('').trigger('keyup');
  		$('div#snapshot').empty();
        $('div#screenshots').empty();
      	jplayer.jPlayer('clearMedia');
        $('.pause').hide();
		$('.play').show();
  	}
}
// end of onselect


function initTimeline(data) {
	var height = $(parent).height() - $('header').outerHeight() - 300;
	// $(window).height()-$('header').outerHeight()-40;

	// specify options
	var options = {
		'width': '100%',
	    'height': height + 'px',
	    'editable': false,
	    'style': 'box',
		'axisOnTop': true,
		'intervalMax': 2628000000,
		'intervalMin': 300000,
		'showNavigation': true
	};

	// Instantiate our timeline object.
	timeline = new links.Timeline(document.getElementById('mytimeline'));
	console.log('timeline init:'+data.toSource());
	// Draw our timeline with the created data and options
	timeline.draw(data, options);
	links.events.addListener(timeline, 'select', onselect);
}


function isEmpty(map) {
    for (var key in map) {
        if (map.hasOwnProperty(key)) {
            return false;
   	    }
    }
    return true;
}


var onDocumentReady = function() {
    var playerQuery = {
        swfPath: '/static/js',
        supplied: 'wav',
        wmode: 'window'
    };

    var boxQuery = {
        'scrolling': 'no',
        helpers: {
            title: {
                type: 'outside'
            },
            overlay: {
                css: {
                    'background': 'rgba(58, 42, 45, 0.95)'
                }
            }
        }
    };

	jplayer = $('#jquery_jplayer_1').jPlayer(playerQuery);
	$('#edit_event_link').hide();
	$('#edit_event_link').fancybox(boxQuery);

    var onPlay = function(event) {
        var parent = $(this).closest('tr');
        if (jplayer_active != parent.attr('event')) {
            //$('.pause').hide();
            //$('.play').show();
            jplayer.jPlayer('clearMedia');
            jplayer_active=parent.attr('event');
        }
        if (parent.hasClass('selected-row')) {
            event.stopPropagation();
        }
        if (isEmpty($('#jquery_jplayer_1').data('jPlayer').status.media)) {
            jplayer.jPlayer('setMedia', audio_files[parent.attr('event')]);
        }
       $('#mediaplayer').click();
    };

    var onPause = function(event) {
        event.stopPropagation();
        var parent = $(this).closest('tr');
        jplayer.jPlayer('pause');
        $(this).hide();
        $(this).prev().show();
    };

    var onEvents = function() {
        var start = $(this).attr('start');
        var end = $(this).attr('end');
        if (end == '') {
            var sDate = start.substring(0, 19);
            start = Date.parse(sDate).add(-3).minute();
            var eDate = start.getTime();
            end = Date(eDate).add(6).minute().toString('yyyy-MM-dd HH:mm');
            start = start.toString('yyyy-MM-dd HH:mm');
        }
        // timeline.setVisibleChartRange(start, end);
        var eObject = {row: eval($(this).attr('id').substring(3))};
        timeline.setSelection([eObject]);
        $('selected-row').removeClass('selected-row');
        onselect();
        $(this).addClass('selected-row');
    };

    var onEventSearchKeyup = function() {
        var myval = $(this).val();
        $('#all_events').dataTable().fnFilter(myval);
        if(myval == '') {
            $('.selected-row').removeClass('selected-row');
        }
    };

    var onEventSearchNextClick = function() {
        $('#event_search').val('').trigger('keyup');
    };

    $(document).on('click','.play', onPlay);

    $(document).on('click','.pause', onPause);

    $(document).on('click','#all_events tr', onEvents);

    // Write on keyup event of search input element.
    $('#event_search').keyup(onEventSearchKeyup);

    var fancyBoxObject = {
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50
            },
            overlay: {
                css: {
                    'background': 'rgba(58, 42, 45, 0.95)'
                }
            }
        }
    };

    $('.fancybox').fancybox(fancyBoxObject);
    $('#mediaplayer').fancybox(fancyBoxObject);
    $('div#loading').hide();
    $('#event_search').next().click(onEventSearchNextClick);

    function eventobject(id, type, start, end, title, content, hasAudio) {
    	this.id = id;
    	this.type = type;
    	this.start = start;
    	this.end = end;
    	this.title = title;
    	this.content = content;
    	this.hasAudio = hasAudio;
    }


    var onProjectChange = function() {
        if (mbproject != $(this).attr('id')) {
            $('#event_search').val('').trigger('keyup');
            $('div#snapshot').empty();
            $('div#screenshots').empty();
            jplayer.jPlayer('clearMedia');
            mbproject = $('#mbprojects option:selected').attr('id');
            console.log('selected id ='+mbproject);
            $('#panel_handle').click();
            $('#mytimeline').empty();
            $('div#loading').show();
            $('table#all_events tbody').empty();
            $('#all_events').dataTable().fnClearTable();
			if(mbproject == 'mb_project_0'){
				$('div#loading').hide();
				$('div#mytimeline').append('<div class="notices">'+
										   '<div class="bg-color-red">'+
										   '<div class="notice-header">'+
										   'No Project Selected</div></div>'+
										   '</div>');
				return
			}
            var aObject = {
                type: 'GET',
                url: '/projects/' + mbproject + '/',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    jsondata = data;
                    var events = new Array();
                    var pr_time, pr_file;
                    $.each(data, function(k, v) {
                        var start, end, name;
                        switch(k) {
                            case 'sessions':
                                $.each(v, function() {
                                    pr_time = null;
                                    pr_file = '';
                                    var endDate = null;
                                    if (this.end != '') {
                                        endDate = Date.parse(this.endtime);
                                    }
                                    var eObj = new eventobject(
                                        this.id,
                                        'Session',
                                        Date.parse(this.starttime),
                                        endDate,
                                        '',
                                        '<i class="icon-clock"></i>'
                                    );
                                    events.push(eObj);
                                });
                                break;
                            case 'fileactions':
                                $.each(v, function() {
                                    var actionTime = this.action_time;
                                    actionTime = Date.parse(actionTime);
                                    var shouldX = (pr_time != null);
                                    shouldX = shouldX && pr_time != undefined;
                                    shouldX = shouldX && pr_file != undefined;
                                    shouldX = shouldX && pr_file != '';
                                    if (shouldX) {
                                        var dEquals = Date.equals(pr_time,
                                                                  actionTime);
                                        shouldX = shouldX && dEquals;
                                    }
                                    var fpath = this.file__path;
                                    shouldX = shouldX && pr_file == fpath;
                                    if (shouldX) {
                                    	// Append action icon to previous event
                                        var lastIndex = events.length - 1;
                                        var lastEvent = events[lastIndex];
                                        var leidc = events[this.id, lastIndex];
                                        leidc = leidc.content;
                                        var subLimit = lastEvent.content;
                                        subLimit = subLimit.length - 4;
                                        var eHTML = leidc.substring(0, subLimit);
                                        var aName = this.action__name;
                                        eHTML += fileaction_icon(aName);
                                        eHTML += '</p>';
                                        lastEvent.content = eHTML;
                                    } else {
                                        var eObj = new eventobject(
                                            this.id,
                                            this.action__name,
                                            actionTime,
                                            null,
                                            getFileName(this.file__path),
                                            event_content('fileaction', this)
                                        );
                                        events.push(eObj);
                                        pr_time = actionTime.clone();
                                        pr_file = this.file__path;
                                    }
                                });
                                break;
                            case 'events':
                                $.each(v, function() {
                                    pr_time = null;
                                    pr_file = '';
                                    if (this.time.indexOf('.') > -1){
                                    this.time = this.time.substring(0,
                                    				this.time.lastIndexOf('.'));
                                    }
                                    var eObj = new eventobject(
                                        this.id,
                                        'Event',
                                        Date.parse(this.time),
                                        null,
                                        this.title,
                                        event_content('event', this)
                                    );
                                    events.push(eObj);
                                });
                                break;
                            default:
                                break;
                        }
                        // TODO: Return what, if start is not undefined?
                        if (start == undefined) {
                            return true;
                        }
                    });
                    var sorter = function(a, b) {
                        if (a.start > b.start) {
                            return 1;
                        }
                        if (a.start < b.start) {
                            return -1;
                        }
                        return 0;
                    };
                    events.sort(sorter);
                    initTimeline(events);
                    $.each(events, function(k, v) {
                        var startString = v.start.toString('yyyy-MM-dd HH:mm');
                        var endString = '';
                        if (v.end != null) {
                            endString = v.end.toString('yyyy-MM-dd HH:mm');
                        }
                        var toAppend = '<tr event="' + v.id + '" ';
                        toAppend += 'id="row' + k + '" ';
                        toAppend += 'start="' + startString + '" ';
                        toAppend += 'end="' + endString + '" ';
                        toAppend += '>';
                        toAppend += '<td>' + v.type + '</td>';
                        toAppend += '<td>' + v.title +'</td>';
                        toAppend += '<td>' + startString + '</td>';
                        toAppend += '<td>' + endString + '</td>';
                        toAppend += '<td></td>';
                        toAppend += '</tr>';
                        $('table#all_events tbody').append(toAppend);
                        if (v.type=='Event') {
                            check_event_audio(v.id,'#row' + k);
                        }
                    });
                    $('#all_events').dataTable({
                        'sScrollY': '400px',
                        'bPaginate': false,
                        'bScrollCollapse': true,
                        'bSort': false,
                        'bInfo': false,
                        'bDestroy': true,
                        'sDom': 'lrtp',
                    });
                    $('div#loading').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                    $('div#loading').hide();
                    $('div#mytimeline').append('<div class="notices">'+
                    						   '<div class="bg-color-red">'+
                    						   '<div class="notice-header">'+
                    						   'Error fetching project data'+
                    						   '</div></div></div>');
                }
            };
            $.ajax(aObject);
        }
    };


    $('#mbprojects').change(onProjectChange);
    var option_id = '{% if activity.project %}{{activity.project.id}}' +
                    '{% else %}mb_project_0{% endif %}';
    $('#mbprojects option[id="' + option_id + '"]').prop('selected', true);
    {% if activity.project %}
    	$('#mbprojects').trigger('change');
    {% endif %}
};

$(document).ready(onDocumentReady);


// TODO: Might want to refactor this a bit.
function check_event_audio(event_id, obj_id) {
	$.get('/event_has_audio/', {'event_id': event_id}, function(res) {
		if (res != '[{}]' && res != 'False') {
			audio_files[event_id] = eval(res)[0];
			var myhtml = '<a tabindex="1" class="play" href="javascript:;">' +
			             'play</a>';
			$(obj_id + ' td:nth-child(5)').html(myhtml);
		}
	});
}


function event_content(type, event) {
	var output = '';
	switch(type) {
        case 'fileaction':
            var actionTime = Date.parse(event.action_time);
            var fileName = getFileName(event.file__path);
    		var fileExtension = getFileExtension(fileName);
    		if (fileExtension == '') {
    		    fileExtension = '_blank';
    		}
    		var fileIcon = '/static/img/filetypes/' + fileExtension + '.png';
    		var plink = event.file__path;
    		var style_ = 'float:left;';
    		var imgDef = 'src="' + fileIcon + '" style="' + style_ + '"';
    		output = '<p>';
    		output += '<img ' + imgDef + ' />';
    		output += '<a target="_NEW" href="' + plink + '">';
    		output += '<b id="' + event.file__id + '">' + fileName + '</b>';
    		output += '</a><br style="clear:both" /><span>'
    		output += actionTime.toString("HH:mm") + '</span>';
    		output += fileaction_icon(event.action__name) + '</p>';
    		break;

		case 'event':
		    var etitle = event.title.toLowerCase().replace(' ', '_');
		    var jsclick = 'edit_event_click(' + event.id +')';
    		output = '<div class="icons ' + etitle + '">';
    		output += '<a href="#" onclick="' + jsclick + '">';
    		output += '<b id="' + event.id + '">' + event.title + '</b>';
    		output += '</a></div>';
    		break;
	}
	return output;
}


function fileaction_icon(type) {
	var icon = '';
	switch(type) {
		case 'Created':
			icon = '<i class="icon-new"></i>';
			break;
		case 'Updated':
			icon = '<i class="icon-file"></i>';
			break;
		case 'Removed':
			icon = '<i class="icon-remove"></i>';
			break;
		case 'Opened':
			icon = '<i class="icon-book"></i>';
			break;
		default:
		    icon = type;
		    break;
	}
	return icon;
}


// jQuery expression for case-insensitive filter
var exprObject = {
    'contains-ci': function(elem, i, match, array) {
        var res = (elem.textContent || elem.innerText || $(elem).text() || '');
        var findthis = (match[3] || '').toLowerCase();
        return res.toLowerCase().indexOf(findthis) >= 0;
    }
};


$.extend($.expr[':'], exprObject);


function edit_event_click(event_id) {
	$('a#edit_event_link').attr('href', '/event/' + event_id + '/edit/');
	$('#edit_event_link').trigger('click');
	return false;
}


function parse_projects_link(link) {
	var baseurl = '/static/Projects/';
	baseurl += link.substr(link.indexOf('Projects') + 9);
	return baseurl.replace(/\\/g, '/');
}


{% endblock %}

{% block pagetitle %}

{% endblock %}

{% block content %}
<div class="grid" style="width:100%; height:80%">
	<div class="row">
		<div style="width:60%;min-height:400px;height:50%;float:left;">
			<div id="loading"><img src="/static/img/loader.gif"/></div>
			<div id="mytimeline" style=""></div>
		</div>
		<div style="width:38%;float:right;">
			<h4>Choose project for browsing</h4>
			<select id="mbprojects">
				<option id="mb_project_0"></option>
					{% for project in projects %}
					<option id="{{project.id}}">{{project.name}}</option>
					{% endfor %}
			</select>
			<div id="mb-images" class="image-collection">
				<div id="snapshot"></div>
				<div id="screenshots"></div>
			</div>
			<div style="clear:both;"></div>
			<form>
				<fieldset>
					<legend>Search</legend>
					<div class="input-control text"
					 style="width:100%;float:left;margin-right:5px;">
						<input id="event_search" type="text" />
						<span class="helper"></span>
					</div>
				</fieldset>
			</form>
			<table id="all_events" class="striped bordered hovered">
				<thead>
				    <tr>
				        <th><b>Event</b></th>
				        <th><b>Title</b></th>
				        <th><b>Start</b></th>
				        <th><b>End</b></th>
				        <th width="30px;"><b>Audio</b></th>
				    </tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<a id="edit_event_link" href="" data-fancybox-type="iframe"></a>
<div id="mediaplayer" class="fancybox" style="display:none;">
    <div id="jquery_jplayer_1" class="jp-jplayer" style="display:none;"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>
        </div>
      </div>
      <div class="jp-title">
        <ul></ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
</div>
{% endblock %}
